.html
.head
.side
  = render 'shared/side_bar'
.main
  .main__header
    .main__header__left-box
      .main__header__left-box--current-group
        sample
      .main__header__left-box--menber-list
        Member :  seo neko
    .main__header__edit-btn
      Edit
  .main__messages
    = render @messages
  .main__form
    .main__form__new
      .main__form__new__input-box
        .main__form__new__input-box--text
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'main__form__new__input-box__form__submit'
